.dashboard
  .ide
    .code
      enter code
      = simple_form_for(@test, url: execute_user_url(current_user), method: :post, html: {remote: true, method: :post}) do |f|
        = f.input :code
        = f.submit 'execute', class: 'submit-code'
    .code
      or enter test
      = simple_form_for(@test, url: execute_user_url(current_user), method: :post, html: {remote: true, method: :post}) do |f|
        = f.input :spec
        = f.submit 'execute', class: 'submit-code'
    .result