.config-container
  Quaco host
  = simple_form_for(AppConfig.where(name: 'host').first_or_create) do |f|
    = f.input :value
    = f.submit
  %br
  Quaco port
  = simple_form_for(AppConfig.where(name: 'port').first_or_create) do |f|
    = f.input :value
    = f.submit

  %br
  - if false
    .connection.float-left
      %h3
        TCP
      - if QuacoTcp.connection.nil?
        = link_to 'Connect to Quaco via Socket', connect_app_configs_path(type: 'tcp'), class: 'connection-action', method: :put
      - else
        = link_to 'Disconnect from Quaco Socket', disconnect_app_configs_path(type: 'tcp'), class: 'connection-action', method: :put

  .connection.float-left
    %h3
      TELNET
      = link_to 'Connect to Quaco via Telnet', connect_app_configs_path(type: 'telnet'), class: 'connection-action', method: :put
      = link_to 'Disconnect from Quaco Telnet', disconnect_app_configs_path(type: 'telnet'), class: 'connection-action', method: :put