.config-container
  Quaco host
  = simple_form_for(AppConfig.where(name: 'host').first_or_create) do |f|
    = f.input :value
    = f.submit
  %br
  Quaco port
  = simple_form_for(AppConfig.where(name: 'port').first_or_create) do |f|
    = f.input :value
    = f.submit


  %br
  - if Quaco.connection.nil?
    = link_to 'Connect to Quaco', connect_app_configs_path, class: 'connection-action', method: :put
  - else
    = link_to 'Disconnect from Quaco', disconnect_app_configs_path, class: 'connection-action', method: :put