!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %title QuacoWeb
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .common
      .nav-bar
        - if current_user
          = link_to "log out", destroy_user_session_path, class: 'nav-item float-right', method: :delete
        - else
          = link_to "log in", new_user_session_path, class: 'nav-item float-right'
          = link_to "sign up", new_user_registration_path, class: 'nav-item float-right'
      .float-left.sidebar.col-lg-3  
        - if ['client', 'platform'].include?(current_user.try :usertype)
          = link_to 'Builds', tests_path, class: "#{phase('builds')} sidebar-item"
          = link_to 'New build', new_test_path, class: "#{phase('new_build')} sidebar-item"
          - if current_user.try(:usertype) == 'platform'
            = link_to 'demo requests', root_path, class: "#{phase('users')} sidebar-item"
            = link_to 'configure', configure_tests_path, class: "#{phase('config')} sidebar-item"
        - if current_user && current_user.try(:usertype) == nil
          = link_to 'Demo', root_path, class: "#{phase('users')} sidebar-item"
      .main{class: (current_user.present? ? 'col-lg-9' : 'col-lg-12')}
        = yield
      
